@import "settings";
@import "foundation";

$font-stack:    Futura;

@mixin translate($top, $left) {
    -webkit-transform: translate($top, $left);
        -ms-transform: translate($top, $left);
         -o-transform: translate($top, $left);
            transform: translate($top, $left);
}

@each $font-face in $font-stack  {
    @font-face {
          font-family: $font-face; font-style: normal; font-weight: normal;
          src: url('../assets/fonts/#{$font-face}.ttf');
    }
}

@mixin font($font, $style: normal, $weight: normal) {
    font-family: $font, verdana;
    font-style:  $style;
    font-weight: $weight;
}

body {
	background: url('../assets/images/background.png') fixed;
}

h1 {
    @include font(Futura);
}

#card {
    
    @include font(Futura);

    margin-top: 100px;

	/*position: absolute;
    left: 50%;
    top: 50%;
    @include translate(-50%, -50%);*/

}

#link {
	text-align: center;
	font-size: 2em;
}

.icon:not(:last-child) {
	margin-right: 10px;
}